<div class="block animated fadeIn">
    <!------------------------------------------------------
    - Options and title										                 
    ------------------------------------------------------->
    <div class="block-title">
        <div class="block-options pull-right">
            <div class="btn-group">
                <a href="javascript:void(0)" class="btn btn-effect-ripple btn-default dropdown-toggle enable-tooltip" data-toggle="dropdown" title="Número de registros a mostrar"><i class="fa fa-navicon"></i></a>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a (click)="setItemPerPage(5)">
                            <i *ngIf="itemsPerPage==5"  class="gi gi-ok_2 pull-right"></i>
                            5 registros
                        </a>
                    </li>
                    <li>
                        <a  (click)="setItemPerPage(10)">
                            <i *ngIf="itemsPerPage==10" class="gi gi-ok_2 pull-right"></i>
                            10 registros
                        </a>
                    </li>
                    <li>
                        <a  (click)="setItemPerPage(20)">
                            <i *ngIf="itemsPerPage==20" class="gi gi-ok_2 pull-right"></i>
                            20 registros
                        </a>
                    </li>
                </ul>
            </div>
            <div class="btn-group">
                <a href="javascript:void(0)" class="btn btn-effect-ripple btn-default dropdown-toggle enable-tooltip" data-toggle="dropdown" title="Opciones"><i class="fa fa-chevron-down"></i></a>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a [routerLink]="['/user','nuevo']">
                            <i class="fa fa-plus pull-right"></i>
                            Nuevo
                        </a>
                    </li>
                    <li>
                        <a (click)="clearSearch()">
                            <i class="fa fa-eraser pull-right"></i>
                            Limpiar busqueda
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="javascript:void(0)">
                            <i class="fa fa-trash-o fa-fw pull-right"></i>
                            Eliminar
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <h2>{{title}}</h2>
    </div>
    <!----------------------------------------------------->
    

        <!--TODO: Establecer configuración vista de las tablas-->
    <div class="table-responsive">
        <table id="general-table" [class]="classTable">
            <!------------------------------------------------------
            - Headboard										                 
            ------------------------------------------------------->  
            <thead>
                <tr>
                    <th (click)="clearSearch()">Nombre<i class="fa fa-sort-alpha-asc pull-right"></i></th>
                    <th>Email</th>
                    <th style="width: 320px;">Rol</th>
                    <th style="width: 120px;" class="text-center"><i class="fa fa-flash"></i></th>
                </tr>
            </thead>
            <!----------------------------------------------------->

            <!------------------------------------------------------
            - Body										                 
            ------------------------------------------------------->
            <tbody>
                <tr *ngIf="!loaded">
                    <td colspan="4" class="text-center">
                        <app-load-table></app-load-table>
                    </td>
                </tr>
                <tr *ngIf="count===0">
                    <td  colspan="4" class="text-center">
                        <app-notfound></app-notfound>
                    </td>
                </tr>
                <tr *ngFor="let user of users | paginate: { itemsPerPage: itemsPerPage, currentPage: p, totalItems: count }">
                    <td><strong>{{user.name}}</strong></td>
                    <td>{{user.email}}</td>
                    <td [ngSwitch]="user.rol">
                        <span *ngSwitchCase="'USER_ROLE'" class="label label-info">{{user.rol}}</span>
                        <span *ngSwitchCase="'ADMIN_ROLE'" class="label label-warning">{{user.rol}}</span>
                        <span *ngSwitchCase="'SUPER_ROLE'" class="label label-danger">{{user.rol}}</span>

                    </td>
                    <td class="text-center">
                        <a [routerLink]="['/user',user._id]" data-toggle="tooltip" title="Edit User" class="btn btn-effect-ripple btn-sm btn-success"><i class="fa fa-pencil"></i></a>
                        &nbsp;
                        <a (click)="removeUser(user._id)" data-toggle="tooltip" title="Delete User" class="btn btn-effect-ripple btn-sm btn-danger"><i class="fa fa-times"></i></a>
                    </td>
                </tr>
            </tbody>

            <!------------------------------------------------------
            - Footer table										                 
            ------------------------------------------------------->
            <tfoot>
                <tr>
                    <td><div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        <input type="text" (keydown.enter)="getUsers()" [(ngModel)]="nameSearch" name="userSearch" class="form-control" placeholder="Usuario">
                    </div>
                    </td>
                    <td><div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
                        <input type="text" (keydown.enter)="getUsers()" [(ngModel)]="emailSearch" name="emailSearch" class="form-control" placeholder="Email">
                    </div></td>
                    <td></td>
                    <td></td>
                </tr>
            </tfoot>
        </table>

        <!------------------------------------------------------
        - Pagination										                 
        ------------------------------------------------------->
        <div class="row">
            <div class="col-sm-5 hidden-xs">
                <div class="dataTables_info" id="example-datatable_info" role="status" aria-live="polite">
                    <strong>Página </strong>{{p}}<strong> de  </strong> {{ itemsPerPage | roundceil:count }}  <strong>   | Registros totales: </strong>{{count}}
                </div>
            </div>
            <div class="col-sm-7 col-xs-12 clearfix">
                <div class="dataTables_paginate paging_bootstrap " id="example-datatable_paginate">
                    
                    <pagination-controls 
                    (pageChange)="p = $event"
                    maxSize="9"
                    autoHide="true"
                    previousLabel="Anterior"
                    nextLabel="Siguiente"
                    responsive="true"
                    > </pagination-controls>
                    
                </div>
            </div>
        </div>
        <!----------------------------------------------------->

    </div>
</div>

