<div class="block animated fadeIn">
    <!------------------------------------------------------
    - Title form										                 
    ------------------------------------------------------->
    <div class="block-title">
        <div class="block-options pull-right">
            <a (click)="newUser()" class="btn btn-effect-ripple btn-default" data-toggle="tooltip" title="" style="overflow: hidden; position: relative;" data-original-title="Nuevo usuario">
                <i class="fa fa-plus"></i>
            </a>
        </div>
        <h2>{{title}}</h2>
    </div>
   

    <!------------------------------------------------------
    - Conten form										                 
    ------------------------------------------------------->
    <form class="form-horizontal form-bordered" #f="ngForm" (ngSubmit)="grabar(f)">
        
        <div class="form-group" >
            <label class="col-md-3 control-label" for="id">Id</label>
            <div class="col-md-5">
                <input type="text" [(ngModel)]="usuario._id" name="_id" class="form-control" disabled>
            </div>
        </div>
        
        <div class="form-group" [ngClass]="eForm.eName ? 'has-error' : '' ">
            <label class="col-md-3 control-label" for="name">Nombre</label>
            <div class="col-md-5">
                <input class="form-control" type="text" name="name" [(ngModel)]="usuario.name"
                placeholder="Usuario" 
                maxlength="10" minlength="3"
                required 
                (focusout)=onFocusOut(f.form.controls)>
                <span class="help-block" *ngIf="eForm.eName">
                    Es necesario un nombre de usuario. Debe contener de 3 a 10 caracteres
                </span>
            </div>
        </div>

        <div class="form-group" [ngClass]="eForm.eEmail ? 'has-error' : '' ">
            <label class="col-md-3 control-label" for="email">Email</label>
            <div class="col-md-5">
                <input class="form-control" type="email" name="email" [(ngModel)]="usuario.email" 
                placeholder="micorreo@corre.com"  
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{1,4}$" 
                required
                (focusout)="onFocusOut(f.form.controls)">
                <span class="help-block" *ngIf="eForm.eEmail && !eForm.eEmailUnique">
                    Es necesario un email para el usuario. <br>
                    El email no cumple el formato requerido. Ej: micorreo@correo.com
                </span>
                <span class="help-block" *ngIf="eForm.eEmail && eForm.eEmailUnique">
                    El email ya existe
                </span>
            </div>
        </div>

        <div class="form-group" [ngClass]="eForm.password ? 'has-error' : '' " *ngIf="!usuario._id">
            <label class="col-md-3 control-label" for="password">Password</label>
            <div class="col-md-5">
                <input class="form-control" type="password" name="password" [(ngModel)]="usuario.password" 
                minlength="6"
                maxlength="10"
                placeholder="Password inicial"
                autocomplete="on"
                required
                (focusout)="onFocusOut(f.form.controls)">
                <span class="help-block" *ngIf="eForm.password">
                    Es necesario un password inicial. <br>
                    El password debe contener entre 6 y 10 caracteres.
                </span>
            </div>
        </div>

        <div class="form-group" [ngClass]="eForm.rol ? 'has-error' : '' ">
            <label class="col-md-3 control-label" for="roles">Rol</label>
            <div class="col-md-5">
                <ng-select2 [data]="roles" name="rol"
                
                [(ngModel)]="usuario.rol"
                [placeholder]="'Seleccionar rol'"
                [width]="100+'%'"
                >
                </ng-select2>
                <span class="help-block" *ngIf="eForm.rol">
                    Es necesario un rol para el usuario
                </span>
            </div>
        </div>


        <div class="form-group form-actions">
            <div class="col-md-9 col-md-offset-3">
                <button 
                class="btn btn-effect-ripple btn-primary" style="overflow: hidden; position: relative;"
                [disabled]="f.form.invalid"
                >Grabar</button>
                <button [routerLink]="['/users']" type="reset" class="btn btn-effect-ripple btn-danger" style="overflow: hidden; position: relative;">Cancelar</button>
            </div>
        </div>
    </form>
    <!-- END Horizontal Form Content   -->
</div>
