<div class="block full animated fadeIn">
    <!-- Block Tabs Title -->
    <div class="block-title">
        <ul class="nav nav-tabs" data-toggle="tabs">
            <ng-container *ngFor="let nav of navbar; let i=index">
                <li [ngClass]="nav.active ? 'active' : '' "><a (click)="setnavbar(i)">{{nav.title}}</a></li>
            </ng-container>
        </ul>
    </div>
    <!-- END Block Tabs Title -->

    <!-- Tabs Content -->
    <div class="tab-content">
        <div class="tab-pane" [ngClass]="navbar[0].active ? 'active' : '' " >Block Tabs..</div>
        <div class="tab-pane" [ngClass]="navbar[1].active ? 'active' : '' " ><app-contabilidad></app-contabilidad></div>
        <div class="tab-pane" [ngClass]="navbar[2].active ? 'active' : '' " ><app-tax></app-tax></div>
        <div class="tab-pane" id="block-tabs-settings">Settings..</div>
    </div>
    <!-- END Tabs Content -->
</div>

