<!-- Login Container -->
<div id="login-container">
    <!-- Login Header -->
    <h1 class="h2 text-light text-center push-top-bottom animation-slideDown">
        <i class="fa fa-cube"></i> <strong>Bienvenido a ContaUI</strong>
    </h1>
    <!-- END Login Header -->

    <!-- Login Block -->
    <div class="block animation-fadeInQuickInv">
        <!-- Login Title -->
        <div class="block-title">
            <div class="block-options pull-right">
                <a  class="btn btn-effect-ripple btn-primary" data-toggle="tooltip" data-placement="left" title="¿Olvidó su contraseña?"><i class="fa fa-exclamation-circle"></i></a>
                <a  class="btn btn-effect-ripple btn-primary" data-toggle="tooltip" data-placement="left" title="Crear una nueva cuenta"><i class="fa fa-plus"></i></a>
            </div>
            <h2>Logearse</h2>
        </div>
        <!-- END Login Title -->

        <!-- Login Form   ngNativeValidate -->
        <form  #f="ngForm" class="form-horizontal" (ngSubmit)="login(f)">
            <div class="form-group">
                <div class="col-xs-12">
                    <input [ngModel]=email name="email" type="email" class="form-control" required placeholder="Email..">
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12">
                    <input  [ngModel]  name="password" type="password"  class="form-control" placeholder="Contraseña" autocomplete="on">
                </div>
            </div>

            <div class="alert alert-warning alert-dismissable animation-pullDown" 
                *ngIf="error">
                <button type="button" class="close">&times;</button>
                <h4><strong>Success</strong></h4>
                <p>El usuario ó la contraseña son incorrectas</p>
            </div>


            <div class="form-group form-actions">
                <div class="col-xs-8">
                    <label class="csscheckbox csscheckbox-primary">
                        <input [(ngModel)]="recuerdame" name="recuerdame" type="checkbox">
                        <span></span>
                    </label>
                    ¿Recordar?
                </div>
                <div class="col-xs-4 text-right">
                    <button  class="btn btn-effect-ripple btn-sm btn-primary"><i class="fa fa-check"></i> Iniciar</button>
                </div>
            </div>
        </form>
        <!-- END Login Form -->
    </div>
    <!-- END Login Block -->

    <!-- Footer -->
    <footer class="text-muted text-center animation-pullUp">
        <small><span id="year-copy"></span> &copy; <a href="http://goo.gl/RcsdAh" target="_blank">Roberto Guerra - IRA</a></small>
    </footer>
    <!-- END Footer -->
</div>
<!-- END Login Container -->