<div class="block animated fadeIn">
    <!------------------------------------------------------
    - Options and title										                 
    ------------------------------------------------------->
    <div class="block-title">
        <div class="block-options pull-right">
            <div class="btn-group">
                <a href="javascript:void(0)" class="btn btn-effect-ripple btn-default dropdown-toggle enable-tooltip" data-toggle="dropdown" title="Número de registros a mostrar"><i class="fa fa-navicon"></i></a>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a (click)="setItemPerPage(5)">
                            <i *ngIf="itemsPerPage==5"  class="gi gi-ok_2 pull-right"></i>
                            5 registros
                        </a>
                    </li>
                    <li>
                        <a  (click)="setItemPerPage(10)">
                            <i *ngIf="itemsPerPage==10" class="gi gi-ok_2 pull-right"></i>
                            10 registros
                        </a>
                    </li>
                    <li>
                        <a  (click)="setItemPerPage(20)">
                            <i *ngIf="itemsPerPage==20" class="gi gi-ok_2 pull-right"></i>
                            20 registros
                        </a>
                    </li>
                </ul>
            </div>
            <div class="btn-group">
                <a href="javascript:void(0)" class="btn btn-effect-ripple btn-default dropdown-toggle enable-tooltip" data-toggle="dropdown" title="Opciones"><i class="fa fa-chevron-down"></i></a>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a [routerLink]="['/grupo','nuevo']">
                            <i class="fa fa-plus pull-right"></i>
                            Nuevo
                        </a>
                    </li>
                    <li>
                        <a (click)="clearSearch()">
                            <i class="fa fa-eraser pull-right"></i>
                            Limpiar busqueda
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <h2>{{title}}</h2>
    </div>
    <!----------------------------------------------------->
    
    <!------------------------------------------------------
        - Table				
        Available Table Classes:
        'table'             - basic table
        'table-bordered'    - table with full borders
        'table-borderless'  - table with no borders
        'table-striped'     - striped table
        'table-condensed'   - table with smaller top and bottom cell padding
        'table-hover'       - rows highlighted on mouse hover
        'table-vcenter'     - middle align content vertically						                 
    ------------------------------------------------------->
    <div class="table-responsive">
        <table id="general-table" [class]="classTable">
            <!------------------------------------------------------
            - Headboard										                 
            ------------------------------------------------------->  
            <thead>
                <tr>
                    <th class="th-order" style="width: 220px;" (click)="orderby('grupo')">Grupos
                        <div class="pull-right" [ngSwitch]="orderGrupo">
                            <i *ngSwitchCase="1" class="fa fa-sort-numeric-asc"></i>
                            <i *ngSwitchCase="-1" class="fa fa-sort-numeric-desc"></i>
                            <i *ngSwitchCase="0" class="fa fa-sort-numeric-asc fa-disabled"></i>
                        </div>
                    </th>
                    <th class="th-order" (click)="orderby('name')">Nombre
                        <div class="pull-right" [ngSwitch]="orderName">
                            <i *ngSwitchCase="1" class="fa fa-sort-alpha-asc"></i>
                            <i *ngSwitchCase="-1" class="fa fa-sort-alpha-desc"></i>
                            <i *ngSwitchCase="0" class="fa fa-sort-alpha-asc fa-disabled"></i>
                        </div>
                    </th>
                    <th style="width: 120px;" class="text-center"><i class="fa fa-flash"></i></th>
                </tr>
            </thead>
            <!----------------------------------------------------->

            <!------------------------------------------------------
            - Body										                 
            ------------------------------------------------------->
            <tbody>
                <tr *ngIf="!loaded">
                    <td colspan="3" class="text-center">
                        <app-load-table></app-load-table>
                    </td>
                </tr>
                <tr *ngIf="count===0">
                    <td  colspan="3" class="text-center">
                        <app-notfound></app-notfound>
                    </td>
                </tr>
                <tr *ngFor="let grupo of grupos | paginate: { itemsPerPage: itemsPerPage, currentPage: p, totalItems: count }">
                    <td><strong>{{grupo.grupo}}</strong></td>
                    <td>{{grupo.name}}</td>
                    <td class="text-center">
                        <a [routerLink]="['/grupo',grupo._id]" data-toggle="tooltip" title="Edit User" class="btn btn-effect-ripple btn-sm btn-success"><i class="fa fa-pencil"></i></a>
                        &nbsp;
                        <a (click)="removeGroup(grupo._id)" data-toggle="tooltip" title="Delete User" class="btn btn-effect-ripple btn-sm btn-danger"><i class="fa fa-times"></i></a>
                    </td>
                </tr>
            </tbody>

            <!------------------------------------------------------
            - Footer table										                 
            ------------------------------------------------------->
            <tfoot>
                <tr>
                    <td></td>
                    <td><div class="input-group col-md-12">
                        <span class="input-group-addon"><i class="fa fa-book"></i></span>
                        <input type="text" name="nameSearch" class="form-control" placeholder="Nombre del grupo..."
                        #focusSearch
                        (keydown.control.i)="newGrupo()"
                        (keydown.enter)="getGrupos()" 
                        [(ngModel)]="nameSearch" >
                    </div></td>
                    <td></td>
                </tr>
            </tfoot>
        </table>

        <!------------------------------------------------------
        - Pagination										                 
        ------------------------------------------------------->
        <div class="row">
            <div class="col-sm-5 hidden-xs">
                <div class="dataTables_info" id="example-datatable_info" role="status" aria-live="polite">
                    <strong>Página </strong>{{p}}<strong> de  </strong> {{ itemsPerPage | roundceil:count }}  <strong>   | Registros totales: </strong>{{count}}
                </div>
            </div>
            <div class="col-sm-7 col-xs-12 clearfix">
                <div class="dataTables_paginate paging_bootstrap " id="example-datatable_paginate">
                    
                    <pagination-controls 
                    (pageChange)="p = $event"
                    maxSize="9"
                    autoHide="true"
                    previousLabel="Anterior"
                    nextLabel="Siguiente"
                    responsive="true"
                    > </pagination-controls>
                    
                </div>
            </div>
        </div>
        <!----------------------------------------------------->

    </div>
</div>

