<div class="block animated fadeIn">
    <!------------------------------------------------------
    - Title form										                 
    ------------------------------------------------------->
    <div class="block-title">
        <div class="block-options pull-right">
            <a (click)="newGroup()" class="btn btn-effect-ripple btn-default" data-toggle="tooltip" title="" style="overflow: hidden; position: relative;" data-original-title="Nuevo grupo">
                <i class="fa fa-plus"></i>
            </a>
        </div>
        <h2>{{title}}</h2>
    </div>
   

    <!------------------------------------------------------
    - Conten form										                 
    ------------------------------------------------------->
    <form class="form-horizontal form-bordered" #f="ngForm" (ngSubmit)="grabar(f)">
        
        <div class="form-group" >
            <label class="col-md-3 control-label" for="id">Id</label>
            <div class="col-md-5">
                <input type="text" [(ngModel)]="grupo._id" name="_id" class="form-control" disabled>
            </div>
        </div>

        <div class="form-group" [ngClass]="eForm.eGrupo ? 'has-error' : '' ">
            <label class="col-md-3 control-label" for="grupo">Grupo</label>
            <div class="col-md-5">
                <input  class="form-control" type="number" name="grupo" [(ngModel)]="grupo.grupo"
                placeholder="Grupo contable" 
                max="9"
                required 
                (focusout)=onFocusOut(f.form.controls)>
                <span class="help-block" *ngIf="eForm.eGrupo && !eForm.eGrupoUnique">
                    Es necesario un número para el grupo Contable <br>
                    Debe estar entre 1 y 9
                </span>
                <span class="help-block" *ngIf="eForm.eGrupo && eForm.eGrupoUnique">
                    El grupo contable ya existe
                </span>
            </div>
        </div>
        
        <div class="form-group" [ngClass]="eForm.eName ? 'has-error' : '' ">
            <label class="col-md-3 control-label" for="name">Nombre del grupo</label>
            <div class="col-md-5">
                <input class="form-control" type="text" name="name" [(ngModel)]="grupo.name"
                placeholder="Nombre del grupo contable" 
                maxlength="80" minlength="3"
                required 
                (focusout)=onFocusOut(f.form.controls)>
                <span class="help-block" *ngIf="eForm.eName">
                    Es necesario un nombre para el grupo contable. Debe contener de 3 a 80 caracteres
                </span>
            </div>
        </div>


        <div class="form-group form-actions">
            <div class="col-md-9 col-md-offset-3">
                <button 
                class="btn btn-effect-ripple btn-primary" style="overflow: hidden; position: relative;"
                [disabled]="f.form.invalid"
                >Grabar</button>
                <button [routerLink]="['/grupos']" type="reset" class="btn btn-effect-ripple btn-danger" style="overflow: hidden; position: relative;">Cancelar</button>
            </div>
        </div>
    </form>
    <!-- END Horizontal Form Content   -->
</div>
