  <!-- Color Themes -->
            <!-- Preview a theme on a page functionality can be found in js/app.js - colorThemePreview() -->
            <div class="sidebar-section sidebar-nav-mini-hide">
                <div class="sidebar-separator push">
                    <i class="fa fa-ellipsis-h"></i>
                </div>
                <ul class="sidebar-themes clearfix">
                    <li>
                        <a (click)="setTheme('navbar-inverse','default','')" class="themed-background-default" data-toggle="tooltip" title="Default" >
                            <span class="section-side themed-background-dark-default"></span>
                            <span class="section-content"></span>
                        </a>
                    </li>
                    <li>
                        <a (click)="setTheme('navbar-inverse','classy.css','')" class="themed-background-classy" data-toggle="tooltip" title="Classy" >
                            <span class="section-side themed-background-dark-classy"></span>
                            <span class="section-content"></span>
                        </a>
                    </li>
                    <li>
                        <a (click)="setTheme('navbar-inverse','social.css','')" class="themed-background-social" data-toggle="tooltip" title="Social" >
                            <span class="section-side themed-background-dark-social"></span>
                            <span class="section-content"></span>
                        </a>
                    </li>
                    <li>
                        <a (click)="setTheme('navbar-inverse','flat.css','')" class="themed-background-flat" data-toggle="tooltip" title="Flat" >
                            <span class="section-side themed-background-dark-flat"></span>
                            <span class="section-content"></span>
                        </a>
                    </li>
                    <li>
                        <a (click)="setTheme('navbar-inverse','amethyst.css','')" class="themed-background-amethyst" data-toggle="tooltip" title="Amethyst">
                            <span class="section-side themed-background-dark-amethyst"></span>
                            <span class="section-content"></span>
                        </a>
                    </li>
                    <li>
                        <a (click)="setTheme('navbar-inverse','creme.css','')" class="themed-background-creme" data-toggle="tooltip" title="Creme">
                            <span class="section-side themed-background-dark-creme"></span>
                            <span class="section-content"></span>
                        </a>
                    </li>
                    <li>
                        <a (click)="setTheme('navbar-inverse','passion.css','')" class="themed-background-passion" data-toggle="tooltip" title="Passion">
                            <span class="section-side themed-background-dark-passion"></span>
                            <span class="section-content"></span>
                        </a>
                    </li>
                    <li>
                        <a (click)="setTheme('navbar-inverse','default','sidebar-light')" class="themed-background-default" data-toggle="tooltip" title="Default + Light Sidebar">
                            <span class="section-side"></span>
                            <span class="section-content"></span>
                        </a>
                    </li>
                    <li>
                        <a (click)="setTheme('navbar-inverse','classy.css','sidebar-light')" class="themed-background-classy" data-toggle="tooltip" title="Classy + Light Sidebar">
                            <span class="section-side"></span>
                            <span class="section-content"></span>
                        </a>
                    </li>
                    <li>
                        <a (click)="setTheme('navbar-inverse','social.css','sidebar-light')" class="themed-background-social" data-toggle="tooltip" title="Social + Light Sidebar">
                            <span class="section-side"></span>
                            <span class="section-content"></span>
                        </a>
                    </li>
                    <li>
                        <a (click)="setTheme('navbar-inverse','flat.css','sidebar-light')" class="themed-background-flat" data-toggle="tooltip" title="Flat + Light Sidebar">
                            <span class="section-side"></span>
                            <span class="section-content"></span>
                        </a>
                    </li>
                    <li>
                        <a (click)="setTheme('navbar-inverse','amethyst.css','sidebar-light')" class="themed-background-amethyst" data-toggle="tooltip" title="Amethyst + Light Sidebar">
                            <span class="section-side"></span>
                            <span class="section-content"></span>
                        </a>
                    </li>
                    <li>
                        <a (click)="setTheme('navbar-inverse','creme.css','sidebar-light')" class="themed-background-creme" data-toggle="tooltip" title="Creme + Light Sidebar">
                            <span class="section-side"></span>
                            <span class="section-content"></span>
                        </a>
                    </li>
                    <li>
                        <a (click)="setTheme('navbar-inverse','passion.css','sidebar-light')" class="themed-background-passion" data-toggle="tooltip" title="Passion + Light Sidebar">
                            <span class="section-side"></span>
                            <span class="section-content"></span>
                        </a>
                    </li>
                    <li>
                        <a (click)="setTheme('navbar-default','default','')" class="themed-background-default" data-toggle="tooltip" title="Default + Light Header" navbar="navbar-default" >
                            <span class="section-header"></span>
                            <span class="section-side themed-background-dark-default"></span>
                            <span class="section-content"></span>
                        </a>
                    </li>
                    <li>
                        <a (click)="setTheme('navbar-default','classy.css','')" class="themed-background-classy" data-toggle="tooltip" title="Classy + Light Header"  >
                            <span class="section-header"></span>
                            <span class="section-side themed-background-dark-classy"></span>
                            <span class="section-content"></span>
                        </a>
                    </li>
                    <li>
                        <a (click)="setTheme('navbar-default','social.css','')" class="themed-background-social" data-toggle="tooltip" title="Social + Light Header"  >
                            <span class="section-header"></span>
                            <span class="section-side themed-background-dark-social"></span>
                            <span class="section-content"></span>
                        </a>
                    </li>
                    <li>
                        <a (click)="setTheme('navbar-default','flat.css','')" class="themed-background-flat" data-toggle="tooltip" title="Flat + Light Header"  >
                            <span class="section-header"></span>
                            <span class="section-side themed-background-dark-flat"></span>
                            <span class="section-content"></span>
                        </a>
                    </li>
                    <li>
                        <a (click)="setTheme('navbar-default','amethyst.css','')" class="themed-background-amethyst" data-toggle="tooltip" title="Amethyst + Light Header"  >
                            <span class="section-header"></span>
                            <span class="section-side themed-background-dark-amethyst"></span>
                            <span class="section-content"></span>
                        </a>
                    </li>
                    <li>
                        <a (click)="setTheme('navbar-default','creme.css','')" class="themed-background-creme" data-toggle="tooltip" title="Creme + Light Header"  >
                            <span class="section-header"></span>
                            <span class="section-side themed-background-dark-creme"></span>
                            <span class="section-content"></span>
                        </a>
                    </li>
                    <li>
                        <a (click)="setTheme('navbar-default','passion.css','')" class="themed-background-passion" data-toggle="tooltip" title="Passion + Light Header"  >
                            <span class="section-header"></span>
                            <span class="section-side themed-background-dark-passion"></span>
                            <span class="section-content"></span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- END Color Themes -->
